.error {
  color: red;
  background: lightgrey;
  border: 2px solid red;
  border-radius: 5px;
  padding: 5px;
}

.notif {
  color: green;
  background: lightgrey;
  border: 2px solid green;
  border-radius: 5px;
  padding: 5px;
}
